* {
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: "Emy Slab Bold, Fira Sans";
    padding: 0 2rem;
    color: white;
}

h1 {
    display: block;
    font-size: 2em;
    font-family: Arial;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #0081CF;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input,
textarea {
    display: block;
    max-width: 300px;
    margin: 0.5rem 0;
}

button {
    background-color: #3366ff;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

nav a {
    font-weight: bold;
    margin: 0 0.5rem;
    text-decoration: underline;
}

form,
input {
    width: 100%;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

h5 {
    color: white;
}

p {
    color: white;
}